#container{width:80%;}
#header{ background-color:green; color:white; text-align:center;}
#content{background-color:#66CD00;}
ul{list-style-type:none;}
ul li{position:relative;  float:none;}
.para{font-size:10px; margin-left:-50px}
#reset{border-radius:100px;}
#go{border-radius:100px; margin-left:100px}
#name{background:yellow;}
#email{background:yellow;}
table{border:0;}
#registration{margin-left:350px}
#text_area{margin-left:50px;}

